@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Raleway', sans-serif;
  background-color: #e0ffff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(46, 85, 144) !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.message-window {
  flex: 1;
  height: 500px;
  overflow-y: auto;
  border: 1px solid #b0e0e6;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 500px;
}

.my-message,
.other-message {
  display: inline-block;
  border-radius: 20px !important;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
}

.message-sender {
  display: block;
  color: #778899;
  font-size: 0.85rem;
  margin-bottom: 0px;
  margin-left: 1rem;
}

.my-message {
  text-align: right;
  background-color: #00ced1;
  border: 1px solid #20b2aa;
  color: white;
  margin-left: auto;
  margin-right: 0;
  padding: 5px 20px;
  float: right;
  clear: both;
}

.other-message {
  text-align: left;
  background-color: #f0ffff;
  border: 1px solid #b0e0e6;
  margin-right: auto;
  padding: 5px 20px;
}

.chat-form {
  display: flex;
  gap: 10px;
  width: 100%;
}

.custom-button {
  background-color: #00ced1 !important;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #20b2aa !important;
}

.custom-button:active {
  background-color: #178e88 !important;
}

h4 {
  color: #5f9ea0;
  margin-bottom: 20px;
}

.ListGroup {
  margin-bottom: 20px;
}

.Button {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Button:hover {
  background-color: #0056b3;
}
