@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Raleway', sans-serif;
  background-color: #e0ffff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(46, 85, 144) !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.message-window {
  flex: 1;
  height: 500px;
  overflow-y: auto;
  border: 1px solid #b0e0e6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 500px;
  min-height: 250px;
}

.my-message,
.other-message {
  display: inline-block;
  border-radius: 15px !important;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: calc(100% - 35% - 20px);
}

.message-sender {
  display: block;
  color: #778899;
  font-size: 0.8rem;
  margin-bottom: 0px;
  margin-left: 1rem;
}

.my-message {
  text-align: right;
  background-color: #00d1a4;
  border: 1px solid #008c7a;
  color: white;
  margin-left: 35%;
  padding: 5px 15px;
  float: right;
}

.other-message {
  text-align: left;
  background-color: #f0ffff;
  border: 1px solid #b0e0e6;
  margin-left: auto;
  margin-right: 35%;
  padding: 5px 15px;
}

.chat-form {
  display: flex;
  gap: 10px;
  width: 100%;
}

.custom-button {
  background-color: #00d1a4;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #00b494;
}

.custom-button:active {
  background-color: #008c7a;
}

h4 {
  margin-bottom: 20px;
}

.ListGroup {
  margin-bottom: 20px;
  border-radius: 15px;
}

.current-room {
  font-weight: bold;
  background-color: #f0ffff;
  border: 1px solid #b0e0e6;
}

.current-room:focus {
  background-color: #f0ffff;
  border: 1px solid #b0e0e6;
}
